{% if module.style.personalizar_cor_de_fundo == 'color' %}
  <section class="section section__clients--lp" style="background-color: {{ module.style.background_color.color }};">
{% else %} 
   <section class="section section__clients--lp" style="background: {{ module.style.gradient_field.css }};">
{% endif %}
	<div class="section__container">
		<h2 class="section__title" style="color:{{ module.style.cor_da_fonte.css }}; ">{{ module.text_field }}</h2>
		<ul class="clients__items">
			{% for item in module.logos %}
			{% if item.image_field.src %}
				{% set sizeAttrs = 'width="{{ item.image_field.width }}" height="{{ item.image_field.height }}"' %}
				{% if item.image_field.size_type == 'auto' %}
					{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
				{% elif item.image_field.size_type == 'auto_custom_max' %}
					{% set sizeAttrs = 'width="{{ item.image_field.max_width }}" height="{{ item.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
				{% endif %}
				 {% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading }}"' : '' %}
				<li class="clients__item">
					<figure class="clients__figure">
						<img class="clients__image"
						src="{{ item.image_field.src }}" alt="{{ item.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }} />
					</figure>
				</li>
			{% endif %}
		{% endfor %}
		</ul>
	</div>
</section>

