<section class="section platafrom-cortex">
  <div class="plataform-cortex__section">
    <div class="plataform-cortex__content">
      <h2 class="section__title" id="section-title--plataform"></h2>
      <div class="section__text">
        {{ module.section_text }}
      </div>
     {% set href = module.cta_plataforma.link_field.url.href %}
      {% if module.cta_plataforma.link_field.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
      {% endif %}
      <a href="{{ href }}" class="button button--primary" data-media="desktop"
        {% if module.cta_plataforma.link_field.open_in_new_tab %}target="_blank"{% endif %}
        {% if module.cta_plataforma.link_field.rel %}rel="{{ module.cta_plataforma.link_field.rel }}"{% endif %}
        >
       {{ module.cta_plataforma.text }}
      </a>
    </div>
    <figure class="plataform-cortex__figure">
      {% if module.image_field.src %}
      {% set sizeAttrs = 'width="{{ module.image_field.width }}" height="{{ module.image_field.height }}"' %}
      {% if module.image_field.size_type == 'auto' %}
      {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
      {% elif module.image_field.size_type == 'auto_custom_max' %}
      {% set sizeAttrs = 'width="{{ module.image_field.max_width }}" height="{{ module.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
      {% endif %}
      {% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading }}"' : '' %}
      <img src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
      {% endif %}
    </figure>

    {% set href = module.cta_plataforma.link_field.url.href %}
      {% if module.cta_plataforma.link_field.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
      {% endif %}
      <a href="{{ href }}" class="button button--primary" data-media="mobile"
        {% if module.cta_plataforma.link_field.open_in_new_tab %}target="_blank"{% endif %}
        {% if module.cta_plataforma.link_field.rel %}rel="{{ module.cta_plataforma.link_field.rel }}"{% endif %}
        >
       {{ module.cta_plataforma.text }}
      </a>
  </div>
</section>