<section class="section section-investors">
  <div class="investors__container">
    <h2 class="investors__title">{{ module.title }}</h2>
    <ul class="investors__items">

      {% for item in module.image_field %}
        {% if item.src %}
          {% set sizeAttrs = 'width="{{ item.width }}" height="{{ item.height }}"' %}
          {% if item.size_type == 'auto' %}
            {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
          {% elif item.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ item.max_width }}" height="{{ item.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
          {% set loadingAttr = item.loading != 'disabled' ? 'loading="{{ item.loading }}"' : '' %}
          <li class="investors__item">
            <figure class="investors__figure">
              <img src="{{ resize_image_url(item.src, 170, 0, 170) }}" alt="{{ item.alt }}" {{ loadingAttr }} {{sizeAttrs}} class="investors__image">
            </figure>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>

