.section-investors {
  padding: 3em 2em;
}
.investors__container {
  border: 6px solid var(--lightest);
  box-sizing: border-box;
  border-radius: 1.25em;  
  padding: 2.5em 2em;
}
.investors__title {
  font: 400 1.125em var(--primary-font);
  color: var(--darkest);
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.035em;
}
.investors__title p {
  margin-bottom: 12px;
}
.investors__title strong {
  font-weight: 400;
}
.investors__items {
  width: max-content;
  margin: 3em auto 1em auto;
}
.investors__item {
  margin-bottom: 2em;
  text-align: center;
}
.investors__item>span {
  font-size: 1.497em;
}
.investors__item:last-of-type {
  margin-bottom: 0;
}
.investors__item .investors__image {
  width: auto;
  height: 38px;
  object-fit: cover;
}
@media ( min-width: 768px ) {
  .investors__title {
    font-size: 21px;
  }
  .investors__title p {
    margin: 0;
  }
  .investors__title strong {
    font-weight: bold;
  }
  .investors__items {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .investors__item {
    margin: 0 1.375em;
  }
  .investors__item .investors__image {
    width: 81px;
    height: auto;
    object-fit: cover;
  }
}
@media (min-width: 1200px) {
  .investors__container {
    max-width: 1274px;
    margin: 0 auto;
    padding: 72px 0;
  }
  .investors__title {
    font-size: 26px;
  }
  .investors__items {
    margin: 4em auto 0 auto;
  }
  .investors__item>span {
    font-size: 2.125em;
  }
  .investors__item .investors__image {
    width: auto;
    height: 38px;
    object-fit: cover;
  }
}