<!--
    templateType: blog_listing
    isAvailableForNewContent: true
    label: Blog listing
-->

{% extends "../layouts/base.html" %}

{{ require_css(get_asset_url('/cortex-intelligence/css/blog/index.css')) }}

{% block body %}
  <main id="main-content" class="body-container-wrapper" role="main">
    {% if blog_author %}
      {% include "./partial/author.html" %}
    {% elif tag %}
      {% include "./partial/category.html" %}
    {% else %}
      {% include "./partial/blog-listing.html" %}
    {% endif %}
  </main>
{% endblock body %}

{{ require_js(get_asset_url('/cortex-intelligence/js/blog.js'), { position: 'footer', async: true }) }}
