<section class="lp-main--primary">
  <div class="section__container">
    <div class="section__content">
      <p class="lp-main__tag">{{ module.tag }}</p>
      <h1 class="lp-main__title">{{ module.title_h1 }}</h1>
      <div class="lp-main__text">{{ module.subtitulo }}</div>
      <div class="share__content">
        
        {% set share_content = content_by_id(module.p_gina_de_compartilhamento) %}

        <h3 class="share__title">Compartilhe este conteúdo</h3>
        <ul class="share__items">
          <li class="share__item">
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{share_content.absolute_url}}" target="_blank"
              rel="noopener noreferrer" class="share__link"
              aria-label="Link de compartilhamento do conteúdo para o Linkedin.">
              <span class="icon-linkedin"><span class="path1"></span><span class="path2"></span><span
                  class="path3"></span></span>
            </a>
          </li>
          <li class="share__item">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{share_content.absolute_url}}" target="_blank" rel="noopener noreferrer"
              class="share__link" aria-label="Link de compartilhamento do conteúdo para o Facebook.">
              <span class="icon-facebook"><span class="path1"></span><span class="path2"></span></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    {% if module.image_field.src %}
      {% set sizeAttrs = 'width="{{ module.image_field.width }}" height="{{ module.image_field.height }}"' %}
      {% if module.image_field.size_type == 'auto' %}
        {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
      {% elif module.image_field.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ module.image_field.max_width }}" height="{{ module.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
      {% endif %}
       {% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading }}"' : '' %}
      <figure class="lp-main__figure">
        <img src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
      </figure>
    {% endif %}
  </div>
</section>