<section class="section section__what-cortex">
  <div class="section__container">
    <h2 class="section__title">{{ module.title }}</h2>
    <ul class="what-cortex__list">     
      {% for item in module.item %}
        <li class="what-cortex__item">
          <div class="what-cortex__item__header">
            <span>
              {% if item.icon.src %}
                 {% set loadingAttr = item.icon.loading != 'disabled' ? 'loading="{{ item.icon.loading }}"' : '' %}
                <img src="{{ item.icon.src }}" alt="{{ item.icon.alt }}" {{ loadingAttr }}>
              {% endif %}
              </span>
              <h3>{{ item.title }}</h3>
          </div>
          {% inline_rich_text field="texto" value="{{ item.texto }}" %}
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="results">
    <div class="container">
      <div class="video">
        <video loop autoplay muted>
          <source src="{{ module.file_field }}" type="video/mp4"/>
        </video>
      </div>
      <div class="what-cortex__results">
        <h2>{{ module.resultados.title }}</h2>
        <ul class="what-cortex__results__list">
          {% for item in module.resultados.item_da_lista %}
          <li>→  {{ item }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>