<!--
  templateType: page
  isAvailableForNewContent: true
  label: Sobre
-->
{% extends "./layouts/base.html" %}

{% block body %}
  <main id="main-content" class="body-container-wrapper" role="main">
    {% module "module_16349224278291" path="cortex-intelligence/sections/pages/about/main-about", label="main-about" %}
    {% module "module_16349224520892" path='/cortex-intelligence/sections/pages/about/about-cortex', label="about-cortex" %}
    {% module "module_16349224598223" path='/cortex-intelligence/sections/pages/about/work-with-us', label="work-with-us" %}
    {% module "module_16299864840374" path="/cortex-intelligence/sections/pages/home/investors", label="Seção Investidores" %}
    {% module "module_16349201401995" path='/cortex-intelligence/sections/generic/plataform-cortex', label="plataform-cortex" %}
    {% module "module_16349201482366" path='/cortex-intelligence/sections/generic/cards-solutions', label="cards-solutions" %}
  </main>
{% endblock body %}
