<!--
  templateType: page
  isAvailableForNewContent: true
  label: Curso de PR
-->

{% extends "./layouts/base.html" %}

{% block body %}
  <main id="main-content" class="body-container-wrapper courses-template" role="main">
    {% module "module_16470032038398" path="/cortex-intelligence/sections/pages/courses/main", label="main" %}
    {% module "module_164727614695115" path="/cortex-intelligence/sections/pages/courses/recommend-info", label="Pra quem é recomendado" %}
  </main>
{% endblock body %}
