<!--
  templateType: page
  isAvailableForNewContent: true
  label: Curso de PR
-->

{% extends "./layouts/base.html" %}

{% block body %}
  <main id="main-content" class="body-container-wrapper courses-template" role="main">
    {% module "module_16470032038398" path="/cortex-intelligence/sections/pages/courses/main", label="Main" %}
    {% module "module_164727614695115" path="/cortex-intelligence/sections/pages/courses/recommend-info", label="Pra quem é recomendado" %}
    {% module "module_164935222681818" path="/cortex-intelligence/sections/pages/courses/about-course", label="Sobre o Curso" %}
    {% module "module_164935961575921" path="/cortex-intelligence/sections/pages/courses/course-content", label="Conteúdo" %}
    {% module "module_16408200462891" path="/cortex-intelligence/modules/form-content-sticky", label="Formulário" %}
  </main>
{% endblock body %}
