<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{% block body %}
  <main id="main-content" class="body-container-wrapper">
    {% module "module_16318229206743" path="/cortex-v1/sections/pages/home/main-home", label="Main Home" %}
    {% module "module_16327936847125" path="/cortex-v1/sections/pages/home/clients", label="Clientes Cortex" %}
    {% module "module_16299864840374" path="/cortex-v1/sections/pages/home/investors", label="Seção Investidores" %}
  </main>
{% endblock body %}
