<!--
  templateType: page
  isAvailableForNewContent: true
  label: Template de Soluções
  screenshotPath: ../images/template-previews/template-solucoe.png
-->
{% extends "./layouts/base.html" %}

{% block body %}
{% module "module_163171798122020" path="/cortex-v1/sections/pages/solutions/style-solutions", label="Definir Cores da Marca" %}
  <main id="main-content" class="body-container-wrapper">
    {% module "module_163171799481621" path="/cortex-v1/sections/pages/solutions/main-solutions", label="Main Soluções" %}
    {% module "module_163171835946125" path="/cortex-v1/sections/pages/solutions/customer-testimonial", label="Depoimentos dos Clientes" %}
    {% module "module_163171836850828" path="/cortex-v1/sections/pages/solutions/call-to-action", label="Call to Action" %}
  </main>
{% endblock body %}
