<!--
  templateType: page
  isAvailableForNewContent: true
  label: Template de Soluções
  screenshotPath: ../images/template-previews/template-solucoe.png
-->
{% extends "./layouts/base.html" %}

{% block body %}

<!-- deletar modulo no futuro -->
{% module "module_163171798122020" path='/cortex-intelligence/sections/pages/solutions/style-solutions', label="Definir Cores da Marca" %}


<main id="main-content" class="body-container-wrapper" role="main">
    {% module "module_163171799481621" path='/cortex-intelligence/sections/pages/solutions/main-solutions', label="Main Soluções" %}
    {% module "module_16325089753409" path='/cortex-intelligence/sections/pages/solutions/content-solutions', label="Conteúdo da Solução" %}
    {% module "module_163171835946125" path='/cortex-intelligence/sections/pages/solutions/customer-testimonial', label="Depoimentos dos Clientes" %}
    {% module "module_163171836850828" path='/cortex-intelligence/sections/generic/call-to-action', label="Call to Action" %}
    {% module "module_163284130774212" path='/cortex-intelligence/sections/pages/solutions/relationship-resources', label="Materiais Relacionados" %}
  </main>
{% endblock body %}
