.button.button--primary.mobile {
  margin: 0 auto;
}
.plataform-cortex.desktop {
  display: none;
}
.plataform-cortex {
  padding: 2.8125em 2em;
}
.plataform-cortex__title {
  font: 700 1.5em var(--primary-font);
  color: var(--darkest);
  line-height: 108%;
  letter-spacing: -0.02em;
}
.plataform-cortex__items {
  padding: 1.75em 0 3.5em 0;
}
.plataform-cortex__item {
  margin-bottom: 3.5em;
}
.plataform-cortex__article {
  color: var(--darkest);
}
.plataform-cortex__article .title {
  display: inline-flex;
  align-items: center;
  width: 60%;

  font: 700 1.125em var(--secondary-font);
  color: currentColor;
  line-height: 110%;
  letter-spacing: -1px;
}
.plataform-cortex__item:nth-of-type(3) .plataform-cortex__article .title {
  width: 80%;
}
.plataform-cortex__item:last-of-type .plataform-cortex__article .title {
  width: 80%;
}
.plataform-cortex__article .title > span {
  display: inline-flex;
  font-size: 2.5em;
  margin-right: 0.625rem;
  /* filter: brightness(0.3); */
}
.plataform-cortex__article .text {
  font: 400 0.875em var(--secondary-font);
  color: currentColor;
  line-height: 148%;
  margin: 1rem 0 1.25rem 0;
}
.plataform-cortex__article .image {
  width: 100%;
  height: auto;
  overflow: hidden;
  object-fit: cover;
}

@media (min-width: 1200px ) {
  .plataform-cortex.mobile{
    display: none;
  }
  .plataform-cortex.desktop {
    display: block;
  }
  .plataform-cortex__container {
    max-width: 1274px;
    margin: 0 auto;
    padding: 66px 80px 83px 80px;
    background: var(--lightest);
    border-radius: 70px;
  }
  .plataform-cortex__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.5em;
  }
  .plataform-cortex__title {
    font-size: 48px;
  }
  .plataform-cortex__items {
    display: flex;
    justify-content: space-between;
    gap: 28px;
    padding: 0;
  }
  .plataform-cortex__item {
    margin: 0;
  }
  .plataform-cortex__item:nth-of-type(3) .plataform-cortex__article .title {
    width: 80%;
  }
  .plataform-cortex__item:last-of-type .plataform-cortex__article .title {
    width: 80%;
  }
  .plataform-cortex__item .plataform-cortex__article {
    cursor: pointer;
    color: var(--dark);
    transition: all 0.2s ease-in-out;
  }
  .plataform-cortex__item .plataform-cortex__article .title > span.first span::before{
    color: currentColor;
  }
  .plataform-cortex__item .plataform-cortex__article .title span.first {
    position: absolute;
    z-index: 1;
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }

  /* Anitamtion Hover */
  .plataform-cortex__item .plataform-cortex__article:hover {
    color: var(--darkest);
    transition: all 0.2s ease-in-out;
  }
  .plataform-cortex__item .plataform-cortex__article:hover .title span.first {
    opacity: 0;
  }

  /* Animation Clicked */
  .plataform-cortex__item.active .plataform-cortex__article {
    color: var(--darkest);
    transition: all 0.2s ease-in-out;
  }
  .plataform-cortex__item.active .title span.first {
    opacity: 0;
  }
  .plataform-cortex__items--target {
    margin: 59px 0;
  }
  .plataform-cortex__figure--target {
    display: none;
    justify-content: center;
    align-items: center;
    width: 1114px;
    height: 460px;
  }
  .plataform-cortex__figure--target.active {
    display: flex;
    color: green;
  }
}