
{% set icons = 
	[
	'<span class="icon-dados-externos_colorido"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span><span class="path19"></span></span>', 
	'<span class="icon-dados-da-empresa_colorido"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span></span>', 
	'<span class="icon-ciencia-de-dados-e-analytics_colorido"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span></span>', 
	'<span class="icon-workflow-com-dados_colorido"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>'
	] 
%}

<section class="section plataform-cortex mobile">
	<div class="plataform-cortex__container">
		<h2 class="plataform-cortex__title">Plataforma <span class="font-normal">Cortex</span></h2>
		<ul class="plataform-cortex__items">
			{% for item in module.item_plataforma %}
				<li class="plataform-cortex__item">
					<article class="plataform-cortex__article">
						<h2 class="title">
							{% if loop.index == '1' %}
								{{ icons[0] }}
							{% elif loop.index == '2' %}
								{{ icons[1] }}
							{% elif loop.index == '3' %}
								{{ icons[2] }}
							{% else %}
								{{ icons[3] }}
							{% endif %}
							{{ item.title }}
						</h2>
						<p class="text">{{ item.text }}</p>
						{% if item.image.src %}
							{% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}"' %}
							{% if item.image.size_type == 'auto' %}
								{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
							{% elif item.image.size_type == 'auto_custom_max' %}
								{% set sizeAttrs = 'width="{{ item.image.max_width }}" height="{{ item.image.max_height }}" style="max-width: 100%; height: auto;"' %}
							{% endif %}
							{% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
							<img src="{{ item.image.src }}" alt="{{ item.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }} class="image embed-responsive">
						{% endif %}
					</article>
				</li>
			{% endfor %}
			<a href="https://pages.cortex-intelligence.com/agendar-conversa-com-especialistas-cortex?__hstc=233546881.3732211f783a2ade2a956aa208f2e136.1625842847012.1630094780241.1630353330412.56&__hssc=233546881.3.1630353330412&__hsfp=981320134&_ga=2.39930594.1143993490.1630353331-504479821.1625842847" class="button button--primary mobile">Conheça a plataforma</a>
		</ul>
	</div>
</section>


<section class="section plataform-cortex desktop">
	<div class="plataform-cortex__container">
		<div class="plataform-cortex__header">
			<h2 class="plataform-cortex__title">Plataforma <span class="font-normal">Cortex</span></h2>
			<a href="https://pages.cortex-intelligence.com/agendar-conversa-com-especialistas-cortex?__hstc=233546881.3732211f783a2ade2a956aa208f2e136.1625842847012.1630094780241.1630353330412.56&__hssc=233546881.3.1630353330412&__hsfp=981320134&_ga=2.39930594.1143993490.1630353331-504479821.1625842847" class="button button--primary desktop">Conheça a plataforma</a>
		</div>


		<ul class="plataform-cortex__items">
			{% for item in module.item_plataforma %}
				<li class="plataform-cortex__item">
					<button class="plataform-cortex__article">
						<h2 class="title">
							{% if loop.index == '1' %}
								{{ icons[0] }}
							{% elif loop.index == '2' %}
								{{ icons[1] }}
							{% elif loop.index == '3' %}
								{{ icons[2] }}
							{% else %}
								{{ icons[3] }}
							{% endif %}
							{{ item.title }}
						</h2>
						<p class="text">{{ item.text }}</p>
					</button>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>

// Melhor utilizar a função com active do que o button