<section class="lp-main--primary" data-typemargin="{{ module.escolha_o_tipo_de_imagem }}">
  <div class="section__container">
    <div class="section__content">
      <p class="lp-main__tag">{{ module.tag }}</p>
      
      <div class="lp-main__title">{{ module.title_h1 }}</div>
      {% set href = module.button_cta.link_field.url.href %}
        {% if module.button_cta.link_field.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
        {% endif %}
        <a href="{{ href }}" class="button button--lp-cta"
          {% if module.button_cta.link_field.open_in_new_tab %}target="_blank"{% endif %}
          {% if module.button_cta.link_field.rel %}rel="{{ module.button_cta.link_field.rel }}"{% endif %}
          >
          {{ module.button_cta.text_field }}
        </a>
    </div>
    {% if module.image_field.src %}
      {% set sizeAttrs = 'width="{{ module.image_field.width }}" height="{{ module.image_field.height }}"' %}
      {% if module.image_field.size_type == 'auto' %}
        {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
      {% elif module.image_field.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ module.image_field.max_width }}" height="{{ module.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
      {% endif %}
       {% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading }}"' : '' %}
    
      <figure class="lp-main__figure" data-figuretype="{{ module.escolha_o_tipo_de_imagem }}">
        <img src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
      </figure>
    {% endif %}
  </div>
</section>