.spotlight__figure {
  position: relative;
}
.main-lib .section__container {
  background-position: 70% !important;
}
.section__container-spotlight {
  display: none;
}
.spotlight__title {
  position: absolute;
  bottom: 0;
  font: 500 1.125em / 122% var(--primary-font);
  color: var(--darkest);
  letter-spacing: -0.015em;
  padding: 1.5em;
}
.spotlight__figure img {
  width: 100%;
  height: auto;
}
.spotlight-article {
  max-width: 720px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .spotlight-article {
    margin-top: 2em;
  }
}
@media (min-width: 1200px) {
  .main-lib .section__container {
    background-position: center !important;
  }
}