<!--
    templateType: blog_listing
    isAvailableForNewContent: true
    label: Biblioteca Listagem
-->
{% extends "../layouts/base.html" %}


{% choice "category_filter" label='Filtrar Categoria', value='type', 
choices='[
  ["comunicacao", "Comunicação"],
  ["marketing", "Marketing"],
  ["vendas", "Vendas"],
  ["inteligencia", "Inteligência"]
]', 
export_to_template_context=True 
%}

{% choice "material_type_filter" label='Filtrar tipo de material', value='type', 
choices='[
  ["ebook", "eBook"],
  ["meetup", "Meetup"],
  ["caso_de_sucesso", "Caso de Sucesso"],
  ["cartilha", "Cartilha"]
]', 
export_to_template_context=True 
%}


{{ require_css(get_asset_url('/cortex-intelligence/css/materials/index.css')) }}

{{ require_js(get_asset_url('/cortex-intelligence/js/library.js'), { position: 'footer', async: true }) }}

{% block body %}

  {% set categories = request.query|split("category=")|replace("&", "") %}
  {% set material_type = request.query|split("material_type=")|replace("&", "") %}
  {% set sectors = request.query|split("sector=")|replace("&", "") %}

  {% set filtered_content = categories != [] or material_type != [] or sectors != []  %}

  <main id="main-content" class="body-container-wrapper main--materials" role="main">
    <section class="main-lib">
      <div class="section__container" style="background-image: url({{ get_asset_url('/cortex-intelligence/images/destaque-v2.png') }});">
        <div class="section__content">
          <h1>Biblioteca de Conteúdos</h1>
        <p>Materiais gratuitos sobre marketing e vendas para auxiliar na sua jornada de crescimento</p>
        </div>
      </div>
    </section>
    <div class="grid-flex">
      <div class="filters mobile-filter--float">
        <div class="mobile-filter__closed">
          <button id="closed-filter" class="button-closed">X</button>
        </div>
        <form id="form-filters">
          <h2>Filtro</h2>
          <div class="filter__items">
            <h3>Categoria</h3>
            <!-- Filtrar por Categoria -->
            {% for choice in widget_data.category_filter.choices_list %}
  
            {# Verifica se o item está marcado no refresh da página #}
          {% if categories is containing choice[0] %} 
            {% set html_attributes = {"checked": true } %}
            {% else %}
            {% set html_attributes = {"nocheck": true } %}
          {% endif %}
            <div class="filter__item">
              <input type="checkbox" name="categories" id="{{ choice[0]|lower }}" 
                value="{{ choice[0]|lower }}" {{ html_attributes|xmlattr }}>
              <label for="{{ choice[0]|lower }}">
                {{ choice[1] }}
              </label>
            </div>
          {% endfor %}
          </div>
          <div class="filter__items"> 
            <h3>Tipo de material</h3>
            <!-- Filtrar por Tipo de material -->
            {% for choice in widget_data.material_type_filter.choices_list %}
  
          {% if material_type is containing choice[0] %} 
            {% set html_attributes = {"checked": true } %}
            {% else %}
            {% set html_attributes = {"nocheck": true } %}
          {% endif %}
            <div class="filter__item">
              <input type="checkbox" name="material" id="{{ choice[0]|lower }}" 
                value="{{ choice[0]|lower }}">
              <label for="{{ choice[0]|lower }}">
                {{ choice[1] }}
              </label>
            </div>
          {% endfor %}
          </div>
          <div class="button-container">
            <button id="action-filter" class="button button--primary-invert">Filtrar</button>
            <a id="clear-filter" href="javascript();" class="clear-filter">Limpar filtro</a>
          </div>
        </form>
      </div>
      <section class="blog-listing__section">
        <div id="library-grid" class="library-grid-items"></div>

        <div id="loadmore-container">
          <button id="button__loadmore" style="display: block;">
            <span class="icon"><svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line x1="12.584" y1="0.994911" x2="6.58402" y2="6.99491" stroke="#37324B"/>
              <line x1="1.12575" y1="0.750936" x2="6.77224" y2="6.46773" stroke="#37324B"/>
              </svg>
              </span>
            <span >Mostrar mais</span>
          </button>
        </div>
      </section>
    </div>

    

    {% module "module_16427922005877" path="/cortex-intelligence/modules/form-newsletter", label="form-newsletter" %}


    <div class="mobile-filter">
      <button id="open-filter" class="mobile-filter__button">
        <img src="{{ get_asset_url('/cortex-intelligence/images/icon-lupa.png') }}" width="34" height="34"/>
      </button>
    </div>
  </main>
{% endblock body %}


<!--
    templateType: global_partial
    isAvailableForNewContent: false
-->
{% require_js async="true" position="header" %}
  <script type="application/json" id="data-library">
    {
      "data": [
      {% for content in contents %}
      {% set category = content.widgets.module_16467570902134.body.categoria|lower %} 
      {% set material = content.widgets.module_16467570902134.body.tipo_de_material|lower %}
        {
          "title": "{{content.name}}",
          "description": "{{ content.meta_description}}",
          "featuredImage": "{{ resize_image_url( content.featured_image, 345, 190, 345 ) }}",
          "featuredImageAlt": "{{ content.featured_image_alt_text }}",
          "url": "{{content.link_rel_canonical_url}}",
          "category": "{{ category }}",
          "materialType": "{{material}}"
        }{% if loop.index != contents.total_count %},{% endif %}
      {% endfor %}
      ]
    }
  </script>
{% end_require_js%}