<section class="blog-listing__section">
  <div class="blog-listing__items">
    <h2 class="error-message">Não foi possível encontrar um resultado para a sua busca.</h2>
    {% for content in contents %}

    {% set category = content.widgets.module_16467570902134.body.categoria|lower %}
    {% set material = content.widgets.module_16467570902134.body.tipo_de_material|lower %}
    {% set sector = content.widgets.module_16467570902134.body.setor|lower %}

    <article class="card-primary__article"
      data-category="{{category}}"
      data-material="{{material}}"
    >
      {% if content.featured_image and group.use_featured_image_in_summary %}
        <figure class="card-primary__figure">
          <a href="{{content.link_rel_canonical_url}}" target="_blank" rel="noopener noreferrer">
            <img 
              data-src="{{ content.featured_image }}" 
              data-srcset="{{ resize_image_url( content.featured_image, 345, 190, 345 ) }} 345w" 
              sizes="345px" 
              alt="{{ content.featured_image_alt_text }}"
              class="lazyload card-primary__image"
              width="345px"
              height="190px"
            />
          </a>
        </figure>
      {% endif %}
      <div class="card-primary__summary">
        <a href="{{content.link_rel_canonical_url}}" target="_blank" rel="noopener noreferrer">
          <h2 class="card-primary__name">{{ content.name }}</h2>
          {% if content_group.show_summary_in_listing %}
            <p class="card-primary__description">{{ content.meta_description }}</p>
          {% endif %}
        </a>
        {% if content.tag_list != [] %}
          {% for tag in content.topic_list %}
            <a class="card-primary__tag">{{tag}}</a>
          {% endfor %}       
        {% endif %}
        
        <!-- {% if category %}
          <span class="card-primary__tag">{{ category }}</span>
        {% endif %}
        {% if material %}
          <span class="card-primary__tag">{{ material }}</span>
        {% endif %}
        {% if sector %}
          <span class="card-primary__tag">{{ sector }}</span>
        {% endif %} -->
      </div>
    </article>
    <hr class="blog-listing__items__separator">
  {% endfor %}
  </div>
  <div class="loadmore-container">
    <a href="javascript();"  id="button__loadmore">
      <span class="icon"><svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="12.584" y1="0.994911" x2="6.58402" y2="6.99491" stroke="#37324B"/>
        <line x1="1.12575" y1="0.750936" x2="6.77224" y2="6.46773" stroke="#37324B"/>
        </svg>
        </span>
      <span >Mostrar mais</span>
    </a>
  </div>
</section>