/* Botão modulo Main */
.button--main-solutions {
  color: var(--purple_official);
  background: var(--purple_lightest);
}
.button--main-solutions span:before {
  color: var(--purple_spotlight);
}
.button--main-solutions:hover {
  color: var(--white);
  background-color: var(--purple_official);
}
.button--main-solutions:hover span:before {
  color: var(--purple_light);
}

/* Título de conteúdo Modulo content */
.content__item-title span:nth-of-type(1n) {
  color: var(--purple_spotlight);
}
.content__item-title span:nth-of-type(2n) {
  color: var(--purple_light);
}
.content__item-title span:nth-of-type(3n) {
  color: var(--purple_official);
}

/* Seção CTA */
.cta-icon {
  background-color: var(--purple_official);
}
.cta-icon:after {
  background: var(--purple_spotlight);
}
.button-cta--solutions {
  background-color: var(--purple_official);
}
.button-cta--solutions .icon-input-seta {
  color: var(--purple_light);
}
.button-cta--solutions:hover {
  color: var(--purple_official);
  background: var(--purple_lightest);
}
.button-cta--solutions:hover .icon-input-seta {
  color: var(--purple_spotlight);
}

/* Seção de depoimentos e Clientes */
.customer-testimonial__content {
  background-color: var(--purple_official);
}
.customer-testimonial__author {
  color: var(--purple_light);
}
.clients__item {
  color: var(--purple_official);
}

/* controles do slide de depoimento */
.icon-arrow-round-prev::before,
.icon-arrow-round-next::before {
  color: var(--purple_spotlight);
}
