<!--
    templateType: global_partial
    isAvailableForNewContent: false
-->

{% if content.blog_author.slug != null %}
  {% set slug = content.blog_author.slug %}
{% else %}
   {% set slug = 'cortex-intelligence' %}
{% endif %}

{% require_js %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "NewsArticle",
  "headline": "{{ page_meta.name }}",
  "image": "{{ content.featured_image }}",
  "datePublished": "{{ datetimeformat(content.publish_date, '%c') }}",
  "dateModified": "{{ datetimeformat(content.updated, '%c') }}",
  "author": {
    "@type": "Person",
    "name": "{{ content.blog_author.full_name }}",
    "url": "{{ blog_author_url('default', slug ) }}"
  }
}
</script>
{% end_require_js%}