<!--
    templateType: global_partial
    isAvailableForNewContent: false
-->
{% require_js %}
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "{{ site_settings.company_name }}",
  "legalName" : "{{ site_settings.company_name }}",
  "image" : "{{ site_settings.site_settings.logo_src}}",
  "description": "{{ content.meta_description}}",
  "telephone" : "{{ site_settings.company_phone}}",
  "email" : "",
  "address" : {
    "@type" : "PostalAddress",
    "streetAddress" : "{{ site_settings.company_street_address1 }}",
    "addressLocality" : "{{ site_settings.company_city }}",
    "addressRegion" : "{{ site_settings.company_state }}",
    "addressCountry" : "{{ site_settings.company_country }}",
    "postalCode" : "{{ site_settings.company_zip }}"
  },
  "url" : "{{ site_settings.domain }}",
  "priceRange": "R$ and $",
  "openingHours": "Mo 09:00-18:00 Tu 09:00-18:00 We 09:00-18:00 Th 09:00-18:00 Fr 09:00-18:00",
  "hasMap": "https://goo.gl/maps/qqGexPC5scoXsj2f7"
}
</script>
{% end_require_js%}