.section--about-cortex .section__container {
  padding-bottom: 16px;
}
.section--about-cortex {
  background-color: var(--lightest);
  padding: 2.5em 2em;
}
.section--about-cortex .section__title {
  font: 400 1.5em var(--primary-font);
  color: var(--darkest);
  margin-bottom: 2rem;
}
.section--about-cortex .section__text {
  font: 400 1em var(--secondary-font);
  color: var(--darkest);
  line-height: 148%;
  margin-top: 2rem;
}
.section--about-cortex .section__text > p {
  margin: 1em 0;
}
.section--about-cortex .section__figure img {
    border-radius: 12px;
  }
@media (min-width: 768px) {
  .section--about-cortex {
    padding-top: 5em;
  }
  .section--about-cortex .section__figure img {
    width: 100%;
    border-radius: 16px;
  }
}
@media (min-width: 1024px) {
  .section--about-cortex .section__container {
    display: grid;
    grid-template-areas: "about-cortex-title about-cortex-title"	
                          "about-cortex-text about-cortex-image"
                          "about-cortex-text about-cortex-image"
    ;
    column-gap: 73px;
    max-width: 1114px;
    margin: 0 auto;
    overflow: hidden;
  }
  .section--about-cortex .section__title {
    grid-area: about-cortex-title;
    font-size: 2rem;
  }
  .section--about-cortex .section__text {
    grid-area: about-cortex-text;
    font-size: 16px;
    width: 533px;
    margin: 0;
  }
  .section--about-cortex .section__figure {
    grid-area: about-cortex-image;
    margin-top: 1em;
  }
  .section--about-cortex .section__figure img {
    width: 408px;
    border-radius: 16px;
  }
}

@media (min-width: 1200px) {
  .section--about-cortex .section__text {
    width: 633px;
  }
}