.blog-listing__section {
  padding: 0 1.5em;
}
.blog-listing__section .section__title {
  font: 400 1.5em var(--primary-font);
  max-width: 960px;
  margin: 0 auto 1.5em auto;
}

/* card */
.card-primary__article {
  max-width: 345px;
  margin: 0 auto;
}

/* Image */
.card-primary__figure {
  position: relative;
}
.card-primary__image {
  width: 100%;
  object-fit: cover;
  border-radius: 0.75em;
}

/* Avatar */
.card-primary__avatar {
  position: absolute;
  right: 1em;
  bottom: 1em;
  display: flex;
  align-items: center;
}
.card-primary__avatar__name {
  font: 400 0.625em var(--secondary-font);
  color: var(--darker);
  line-height: 1rem;
  letter-spacing: -0.01em;
  margin-right: 1em;
}
.card-primary__avatar__name > em {
  font-style: italic;
}
.card-primary__avatar__image {
  border-radius: 100%;
}

/* title and Subtitle */
.card-primary__name {
  font: 600 1em var(--primary-font);
  color: var(--darkest);
  line-height: 120%;
  letter-spacing: -0.02em;
  margin-top: 1.125rem;
}
.card-primary__description {
  font: 400 0.75em var(--primary-font);
  color: var(--dark);
  line-height: 148%;
  margin-top: 1rem;
}

/* tag */
.card-primary__tag {
  display: inline-flex;
  font: 400 0.625em var(--secondary-font);
  color: var(--darkest);
  line-height: 14px;
  padding: 0.35rem 1rem;
  margin-top: 1.125rem;
  background: var(--lightest);
  border: 1px solid var(--lightest);
  border-radius: 20px;
  transition: 250ms;
}
.card-primary__tag:hover {
  border: 1px solid var(--darkest);
}

/* Separator */
.blog-listing__items__separator {
  max-width: 345px;
  border: none;
  border-bottom: 1px solid var(--lighter);
  margin: 1.5em auto;
}

@media (min-width: 768px) {
  .blog-listing__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 720px;
    margin: 0 auto;
    /* gap: 3em; Versões IOS não suportam, substituido por "padding" em 'card-primary__article' */
  }
  .blog-listing__items__separator {
    display: none;
  }
  .card-primary__article {
    padding: 1.5em;
  }
}

@media (min-width: 1024px) {
  .blog-listing__section {
    padding: 0;
  }
  .blog-listing__section .section__title {
    font: 400 2em var(--primary-font);
  }
  .blog-listing__items {
    grid-template-columns: repeat(3,1fr);
    gap: 1em;
    max-width: 960px;
    margin: 0 auto;
  }
  
  /* Card */
  .card-primary__article {
    padding: 0;
    margin-top: 3em;
  }

  /* title and Subtitle */
  .card-primary__name {
    font-size: 1.125em;
  }
  .card-primary__description {
    font-size: 0.875em;
  }
}


@media (min-width: 1200px) {
  .blog-listing__section .section__title {
    max-width: 1114px;
  }
  .blog-listing__items {
    grid-template-columns: repeat(3,1fr);
    max-width: 1114px;
    margin: 0 auto;
  }
}