
/* Default Footer */
.footer {
  padding: 1.6875em 1.5em 1.5em 1.5em;
}
.footer hr {
  color: var(--lighter);
  margin: 2.5em 0;
  opacity: .2;
}
.footer__title {
  font: 400 1.125em var(--primary-font);
  color: var(--darkest);
}
.form-title {
  font: 400 1.3125em var(--primary-font);
  color: var(--darkest);
  line-height: 25px;
  margin: 1em 0;
}

/* Formulário Footer */
.footer__form .hs_email label {
  display: none;
}
.footer__form .legal-consent-container p {
  font: 400 0.75em var(--secondary-font);
  color: var(--dark);
  line-height: 148%;
}
.footer__form form {
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

/* Formulário campo de email */
.footer__form form .hs_email {
  position: absolute;
  left: 0;
  top: 0;
  width: 80%;
}
.footer__form form .hs_email .hs-input {
  width: 100%;
  height: 44px;
  font: 400 0.9rem var(--secondary-font);
  padding: .75em 0 .75em 1em;
  background: #fff;
  border: 1px solid var(--dark);
  box-sizing: border-box;
  border-radius: 2.5rem 0 0 2.5rem;
}

/* Formulário botão submit */
.footer__form form .hs_submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
}
.footer__form form .actions {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.footer__form form .actions .hs-button {
  width: 100%;
  height: 44px;
  color: transparent;
  padding: 0;
  background-color: var(--dark);
  border: 1px solid var(--dark);
  border-radius: 0 2.5rem 2.5rem 0;
}
.footer__form form .actions .icon-input-seta {
  position: absolute;
  color: white;
}

/* Formulário texto */
.footer__form form .legal-consent-container {
  order: 4;
  margin-top: 4rem;
}

/* CTA Trabalhe conosco */
.footer-cortex__cta {
  text-align: center;
}
.footer-cortex__cta .button--primary {
  margin: 1.25rem auto;
}

/* Footer menu */
.footer__menu {
  display: none;
}

/* Redes sociais */
.footer-social__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer-social__item {
  font-size: 2.25em;
}
.footer-social__item .icon-linkedin .path1:before,
.footer-social__item .icon-facebook .path1:before,
.footer-social__item .icon-youtube .path1:before {
  color: #F1F1FA;
}
.footer-social__item .icon-instagram .path2:before {
  color: #F1F1FA;
}
.footer-social__item .icon-linkedin .path2:before,
.footer-social__item .icon-linkedin .path3:before,
.footer-social__item .icon-facebook .path2:before,
.footer-social__item .icon-youtube .path2:before,
.footer-social__item .icon-instagram .path1:before {
  color: var(--darkest);
}

/* Termos e politica */
.footer__terms {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}
.footer__terms .footer__text {
  font: 400 0.875em var(--secondary-font);
  color: var(--darkest);
}

@media (min-width: 768px) {
  .form-title {
    width: 300px;
    margin: 0;
  }
  .footer__form > .hs_cos_wrapper_type_form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer__form form  {
    max-width: 360px;
  }
  .footer-section__cta {
    display: flex;
    justify-content: space-between;
  }
  .footer-cortex__cta {
    text-align: left;
  }
  .footer-cortex__cta .button--primary {
    margin-left: 0;
  }
  .footer__menu {
    display: block;
    width: 60%;
  }
  .footer__menu .hs-menu-wrapper>ul[role="menu"] {
    display: flex;
    justify-content: space-between;
  }
  .footer__menu .hs-menu-item.hs-menu-depth-1.hs-item-has-children>a[role="menuitem"] {
    pointer-events: none;
  }
  .footer__menu .hs-menu-depth-1>a[role="menuitem"] {
    display: block;
    font: 400 1.125em var(--secondary-font);
    color: var(--darkest);
    margin-bottom: 0.6875em;
  }
  .hs-menu-depth-2>a {
    display: block;
    font: 400  0.875em var(--secondary-font);
    color: var(--darkest);
    margin: 0.5em 0;
  }
  .footer-social__items {
    justify-content: flex-start;
  }

  .footer__terms {
    margin-top: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .footer {
    padding-top: 3.5rem;
  }
  .footer__container {
    max-width: 1114px;
    margin: 0 auto;
  }
  .footer-cortex__cta .footer__title {
    font-size: 28px;
  }
  .form-title {
    font-size: 1.75em;
    width: 50%;
    line-height: 35px;
  }
  .footer__form form {
    margin-right: 4.5em;
  }
  .footer__form form .actions  {
    width: 70%;
  }
  .footer hr:nth-of-type(2) {
    opacity: 0;
    margin: 2em 0;
  }
  .footer__terms .icon-logo-cortex {
    font-size: 25px;
  }
}