<!--
  templateType: none
-->
<!DOCTYPE html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>
  <head>

    <meta charset="utf-8">
    {% if page_meta.html_title %}<title>{{ page_meta.html_title }}</title>{% endif %}
    
    {% if site_settings.favicon_src %}<link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />{% endif %}
    <meta name="description" content="{{ page_meta.meta_description }}">
    {{ standard_header_includes }}

    <link rel="preconnect" href="https://cdn2.hubspot.net">

    {{ require_css(get_asset_url('/cortex-intelligence/css/main.css')) }}
    {% require_js %}
      <script type="application/ld+json" aria-label="Dados estruturados Website">
        {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "{{company_name}}",
        "url": "https://www.cortex-intelligence.com/",
        "description": "Big Data e ciência de dados para turbinar  seus resultados",
        "potentialAction": [
          {
            "@type": "SearchAction",
            "target": "https://www.cortex-intelligence.com/hs-search-results?term={query}",
            "query": "required"
          }
        ],
        "inLanguage": "{{html_lang}}"
      }
      
      </script>
    {% end_require_js%}
  </head>
  <body class="body-wrapper {{ builtin_body_classes }}">

      {% module "module_16400516209561" path='/cortex-intelligence/sections/headers/header-primary', label="header-primary" %}
      
      {% block body %}
      {% endblock body %}

      {% module "module_16294732947563" path='/cortex-intelligence/sections/footers/footer-primary', label="footer-primary" %}

    {{ standard_footer_includes }}
  </body>
</html>