<!--
  templateType: none
-->
<!DOCTYPE html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>
  <head>

    <meta charset="utf-8">
    {% if page_meta.html_title %}<title>{{ page_meta.html_title }}</title>{% endif %}
    
    {% if site_settings.favicon_src %}<link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />{% endif %}
    <meta name="description" content="{{ page_meta.meta_description }}">
    {{ standard_header_includes }}

    <link rel="preconnect" href="https://cdn2.hubspot.net">

    {{ require_css(get_asset_url('/cortex-intelligence/css/main.css')) }}

<!--     <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@graph": [
          {
            "@type": "WebSite",
            "@id": "https://www.cortex-intelligence.com/#website",
            "url": "https://www.cortex-intelligence.com/",
            "name": "{{company_name}}",
            "description": "Big Data e ciência de dados para turbinar  seus resultados",
            "potentialAction": [
              {
                "@type": "SearchAction",
                "target": "https://www.cortex-intelligence.com/?s={search_term_string}",
                "query-input": "required name=search_term_string"
              }
            ],
            "inLanguage": "{{html_lang}}"
          },
          {
            "@type": "WebPage",
            "@id": "http://cortex-intelligence.com/#webpage",
            "url": "{{absolute_url}}",
            "name": "{{page_meta.unescaped_html_title}}",
            "isPartOf": {
              "@id": "https://www.cortex-intelligence.com/#website"
            },
            "datePublished": "2020-03-27T04:29:16+00:00",
            "dateModified": "2021-06-23T20:23:45+00:00",
            "description": "{{page_meta.unescaped_meta_description}}",
            "inLanguage": "{{html_lang}}",
            "potentialAction": [
              {
                "@type": "ReadAction",
                "target": [
                  "{{absolute_url}}"
                ]
              }
            ]
          }
        ]
      }
      
    </script> -->
  </head>
  <body>
    <div class="body-wrapper {{ builtin_body_classes }}">
    
      {% module "module_16400516209561" path='/cortex-intelligence/sections/headers/header-primary', label="header-primary" %}
      
      {% block body %}
      {% endblock body %}

      {% module "module_16294732947563" path='/cortex-intelligence/sections/footers/footer-primary', label="footer-primary" %}
    </div>

    {{ standard_footer_includes }}
  </body>
</html>