<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landing Page - Ebook
-->

{% extends "../layouts/base-lp.html" %}

{% block body %}
  <main id="main-content" class="body-container-wrapper landing-page--ebook">
    {% module "module_16407979092019" path="/cortex-intelligence/sections/lp-main-primary", label="Main Landing Page" %}
    {% module "module_16408033469389" path="/cortex-intelligence/sections/landing-pages/content-slide-vertical", label="content-slide-vertical" %}
  </main>
{% endblock body %}
