<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landing Page - Tendências e Bolhas
-->

{% extends "../layouts/base-lp.html" %}

{% block body %}
  <main id="main-content" class="body-container-wrapper landing-page--merco" role="main">
      {% dnd_area "dnd_area" label="Main section" %}
 
      {% dnd_section %}
         {% dnd_module "module_16564461122181" path='/cortex-intelligence/sections/landing-pages/page-trend', label="Conteúdo" %}{% end_dnd_module %}
      {% end_dnd_section %} 

      {% dnd_section %}
         {% dnd_module "module_163284130774212" path='/cortex-intelligence/sections/pages/solutions/relationship-resources', label="Materiais Relacionados"%}{% end_dnd_module %}
      {% end_dnd_section %}
      
      {% dnd_section %}
         {% dnd_module "module_164788930879363" path="/cortex-intelligence/sections/landing-pages/clients", label="Clientes" %}{% end_dnd_module %}
      {% end_dnd_section %}
      
      {% dnd_section %}
         {% dnd_module "module_165653106365521" path="/cortex-intelligence/sections/landing-pages/page-trend-plataform", label="Conheça a Cortex"  %}{% end_dnd_module %}
      {% end_dnd_section %}
      {% dnd_section %}
         {% dnd_module "module_165099650653536" path="/cortex-intelligence/modules/form-content-sticky", label="Formulário" %}{% end_dnd_module %}
      {% end_dnd_section %}
    {% end_dnd_area %}
  </main>
{% endblock body %}
