<section class="section section-challenge">
  <div class="section__container">
    <div class="section__text">{{ module.intro }}</div>
  </div>
  <div class="section__container">
    <h2 class="challenge__title">{{ module.title }}</h2>
    <ul class="challenge__list">
      {% for item in module.item %}
      <li class="challenge__item">
        <span>
          {% if item.icon.src %}
          {% set loadingAttr = item.icon.loading != 'disabled' ? 'loading="{{ item.icon.loading }}"' : '' %}
          <img src="{{ item.icon.src }}" alt="{{ item.icon.alt }}" {{ loadingAttr }}>
          {% endif %}
        </span>
        {% inline_rich_text field="texto_do_item" value="{{ item.texto_do_item }}" %}
      </li>
      {% endfor %}
    </ul>
<!--     <div class="challenge__text">{{ module.texto }}</div> -->
  </div>
</section>