.main-home {
  padding: 60px 0;
}
.main-home__container {
  max-width: 1168px;
  margin: 0 auto;
}
.main-home__flexblock {
  position: relative;
  display: flex;
  justify-content: flex-end;
  max-width: 1124px;
  margin: 0 auto;
}
.main-home__description {
  position: absolute;
  left: 0;
  top: 20px;
  width: 472px;
  height: 270px;
}
.main-home__title {
  font: 400 3.5em var(--primary-font);
  color: var(--darkest);
  line-height: 105.5%;
  letter-spacing: -0.055em;
  margin-top: 0;
}
.main-home__text {
  font: 400 1.125em var(--secondary-font);
  color: var(--darkest);
  line-height: 144%;
  letter-spacing: -0.055em;
}

/*======= Cards Estilo Padrão =======*/
.main-home__cards {
  display: flex;
  justify-content: space-between;
  gap: 72px;
  margin-top: 55px;
}
.main-home__cards .cards-item {
  position: relative;
  width: 50%;
  background: var(--white);
  border: 3px solid var(--lightest);
  box-sizing: border-box;
  box-shadow: 20px 20px 50px rgba(204, 204, 230, 0.27);
  border-radius: 16px;
  padding: 55px 65px 65px 65px;
}
/* Barra de prograsso do vídeo */
.main-home__cards .cards-item .progress-bar {
  display: none;
  position: absolute;
  top: 10px;
  left: 14px;
  width: 95%;
  height: 8px;
  margin: 0 auto;
  background: var(--lightest);
  border-radius: 20px;
}
.main-home__cards .cards-item .progress-bar:after {
  content: '';
  position: absolute;
  left: 0;
  width: 0%;
  height: 8px;
  background: var(--lightest);
  border-radius: 20px;
}

/* Título */
.cards-item__title {
  font: 900 2.75em var(--primary-font);
  line-height: 88%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}
.main-home__cards .cards-item .cards-item__title span:first-of-type {
  display: block;
}
/* Texto */
.cards-item__text {
  width: 260px;
  font: 400 1.125em var(--secondary-font);
  color: var(--dark);
  line-height: 120%;
  letter-spacing: -0.03em;
  opacity: 0.8;
  margin-top: 0.5em;
}
.main-home__video {
  width: 980px;
  height: 531px;
}
.main-home__video > img {
  z-index: -1;
  width: 980px;
  height: 531px;
  position: absolute;
  top: 0;
  right: 0;
}
.main-home__video > video {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.main-home__video > video {
  display: none;

}
/* Ícones */
.cards-item__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin: 61px 0;
}
.cards-item__icons--item {
  display: inline-flex;
  flex-direction: column;
  width: 128px;
  height: auto;
  font: 400 1.125rem var(--secondary-font);
  color: var(--darker);
  line-height: 122%;
  letter-spacing: -0.04em;
}
.cards-item__icons--item > span {
  margin-bottom: 14px;
}
/* Botão */
.button--main-home{
  font: 600 1rem var(--secondary-font);
  border-radius: 40px;
  margin-top: 1.8125em;
}
.button--main-home span {
  font-size: 0.6rem;
  margin-left: 0.35em;
}


/*=================================*/
/* Estilo do card 1 baseado na cor da marca brand-color 2*/
.main-home__cards .cards-item:first-of-type .progress-bar:after {
  background: var(--purple_light);
}
.main-home__cards .cards-item:first-of-type .cards-item__title span:nth-of-type(1n) {
  color: var(--purple_spotlight);
}
.main-home__cards .cards-item:first-of-type .cards-item__title span:nth-of-type(2n) {
  color: var(--purple_light);
}
.main-home__cards .cards-item:first-of-type .cards-item__title span:nth-of-type(3n) {
  color: var(--purple_official);
}
.main-home__cards .cards-item:first-of-type .button--main-home {
  color: var(--purple_official);
  background-color: var(--lightest);
}
.main-home__cards .cards-item:first-of-type .button--main-home > span:before {
  color: var(--purple_spotlight);
}

/*=================================*/
/* Estilo do card 1 baseado na cor da marca brand-color 3 */
.main-home__cards .cards-item:last-of-type .progress-bar:after {
  background: var(--blue_light);
}
.main-home__cards .cards-item:last-of-type .cards-item__title span:nth-of-type(1n) {
  color: var(--blue_spotlight);
}
.main-home__cards .cards-item:last-of-type .cards-item__title span:nth-of-type(2n) {
  color: var(--blue_light);
}
.main-home__cards .cards-item:last-of-type .cards-item__title span:nth-of-type(3n) {
  color: var(--blue_official);
}

.main-home__cards .cards-item:last-of-type .button--main-home {
  color: var(--blue_official);
  background-color: var(--lightest);
}
.main-home__cards .cards-item:last-of-type .button--main-home > span:before {
  color: var(--blue_spotlight);
}


/* Estilo para o SVG dos item do card*/
.main-home__cards .cards-item:last-of-type .cards-item__icons--item span svg circle:first-of-type {
  fill: var(--blue_lightest);
}
.main-home__cards .cards-item:last-of-type .cards-item__icons--item span svg circle:nth-of-type(2) {
  fill: var(--blue_light);
}
.main-home__cards .cards-item:last-of-type .cards-item__icons--item span svg circle:last-of-type {
  stroke: var(--blue_spotlight);
}

/* Estilo para animação e eventos javascript */
.main-home__cards .cards-item.active .progress-bar {
  display: block;
}
.video.active {
  display: block;
}
