
.section__support {
  padding: 2.5em 1.5em;
}
.support__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 380px;
  gap: 1em;
  margin: 3em auto;
}
.support__image {
  width: auto;
  display: flex;
  place-items: center;
}
.support__image img {
  width: 80px;
  height: auto;
}
.support__card-content {
  width: 70%;
}
.support__title {
  font: bold 1em / 120% var(--secondary-font);
  color: var(--darkest);
  margin-bottom: 1em;
}
.support__text {
  font: 400 0.8em / 148% var(--secondary-font);
  color: var(--darkest);
}
.support__text a {
  color: var(--darkest);
  text-decoration: underline;
}

@media (min-width: 1024px) {
    .section__support .section__container {
    display: flex;
    max-width: 1114px;
    margin: 0 auto;
  }
}