{% include './base/_reset.css' %}
{% include './base/_normalize.css' %}

{% include './base/_variables.css' %}

{% include './modules/_typography.css' %}
{% include './modules/_icons.css' %}
{% include './modules/_buttons.css' %}
{% include './modules/_form.css' %}

.error-page {
    max-width: 800px;
    margin: 0 auto 56px auto;
    padding: 0 1.5em;
}

.error-page h1 {
    font-family: var(--primary-font);
    font-weight: 350;
    line-height: 120%;
}

.error-page .subtitle {
    font-family: var(--secondary-font);
    font-size: 18px;
    color: var(--dark);
    line-height: 148%;
}

.error-page .info {
    margin-top: 40px;
}

.error-page .info h3 {
    font-family: var(--secondary-font);
    font-size: 24px;
    line-height: 148%;
}

.error-page .info ul li {
    font-family: var(--secondary-font);
    font-size: 18px;
    line-height: 148%;
    margin: 0.5rem 0;
}

.error-page .info ul li a {
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
    color: var(--blue_official);
    line-height: 148%;
}

.error-page p {
    font-family: var(--secondary-font);
    font-size: 18px;
    line-height: 148%;
}

.error-page p>a {
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
    color: var(--blue_official);
    line-height: 148%;
}

.header--blog .header__title {
    font-family: gotham_bold;
    color: #37324b;
    position: absolute;
    top: 0;
    right: -74px;
    margin: 0;
    font-size: 1.5rem;
}

.button-cta--solutions {
    background-color: var(--Auxiliary-yellow);
}