<section class="section protected-data">
	<div class="protected-data__container">
		<div class="protected-data__col protected-data__col--A">
			<h2 class="protected-data__title"><span class="icon-padlock"></span>{{ module.column_a.title }}</h2>
			<div class="protected-data__text">{{ module.column_a.subtitle }}</div>
			{% if module.column_a.image.src %}
				{% set sizeAttrs = 'width="{{ module.column_a.image.width }}" height="{{ module.column_a.image.height }}"' %}
				{% if module.column_a.image.size_type == 'auto' %}
					{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
				{% elif module.column_a.image.size_type == 'auto_custom_max' %}
					{% set sizeAttrs = 'width="{{ module.column_a.image.max_width }}" height="{{ module.column_a.image.max_height }}" style="max-width: 100%; height: auto;"' %}
				{% endif %}
				{% set loadingAttr = module.column_a.image.loading != 'disabled' ? 'loading="{{ module.column_a.image.loading }}"' : '' %}
				<figure class="protected-data__figure">
					<img src="{{ module.column_a.image.src }}" alt="{{ module.column_a.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
				</figure>
			{% endif %}
		</div>
		<div class="protected-data__col protected-data__col--B">
			<div class="protected-data__text">{{ module.coluna_b.subtitle }}</div>
			<ul class="protected-data__items">
				{% for item in module.coluna_b.check_item %}
					<li class="protected-data__item"><span class="icon-check"></span>{{ item }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>


