#hs_cos_wrapper_module_162983871515136 {
  margin-top: -1px;
}
.protected-data {
  padding: 1em 1.5em 4em 1.5em;
  background-color: var(--darkest);
  margin-top: -1px;
}
.protected-data hr {
  display: none;
}
.protected-data__container {
  background: #322D45;
  padding: 2em 1.875em;
  border: 3px solid var(--darker);
  box-sizing: border-box;
  border-radius: 1.25em;
}
.protected-data__title {
  display: inline-flex;
  font: 400 1.3125em var(--primary-font);
  color: var(--white);
  line-height: 120%;
}
.protected-data__title span {
  font-size: 3rem;
  margin-right: 1.5rem;
}
.protected-data__text {
  font: 400 0.75em var(--secondary-font);
  color: var(--white);
  line-height: 148%;
  margin: 1em 0 2em 0;
}
.protected-data__figure {
  padding: 0.75rem 2.25rem 0.875rem;
  background: var(--white);
  border-radius: 0.5rem;
}

.protected-data__item {
  display: inline-flex;
  font: 400 0.875em var(--secondary-font);
  color: var(--white);
  line-height: 148%;
  margin: 0.625rem 0;
}
.protected-data__item span {
  margin-right: 0.625rem;
  line-height: 148%;
}

@media( min-width: 768px ) {
  .protected-data hr {
    display: block;
    transform: rotate(90deg);
  }
  .protected-data__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    max-width: 900px;
    margin: 0 auto;
  }

  .protected-data__container:after {
    content: '';
    width: 1px;
    height: 311px;
    background: var(--darker);
    position: absolute;
    top: 10%;
    left: 42%;
  }
  .protected-data__col--A {
    width: 40%;
  }
  .protected-data__col--B {
    width: 60%;
  }
  .protected-data__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 1.25em;
  }
}
@media ( min-width: 1024px ) {
  .protected-data {
    padding: 5em 0 10em 0;
  }
  .protected-data__container {
    padding: 3em;
    justify-content: space-between;
  }
  .protected-data__container:after {
    top: 18%;
    height: 268px;
  }
}
@media ( min-width: 1200px ) {
  .protected-data__container {
    max-width: 1274px;
    padding: 4.625em 3.1875em 4.625em 4.875em;
  }
  .protected-data__container:after {
    top: 17%;
    height: 311px;
    left: 43.5%;
  }
  .protected-data__title {
    font-size: 2em;
    font-weight: bold;
    color: var(--lightest);
  }
  .protected-data__title span {
    font-size: 4.5rem;
    margin-right: 1.5rem;
  }
  .protected-data__text {
    font-size: 1.125em;
    color: var(--lightest);
    line-height: 135.18%
  }
  .protected-data__figure {
    width: 325px;
    border-radius: 0.625rem;
  }
  .protected-data__col--A {
    width: 420px;
  }
  .protected-data__col--A .protected-data__text {
    margin-top: 1.875rem;
  }
  .protected-data__col--B {
    width: 614px;
  }
  .protected-data__col--B .protected-data__text {
    margin-top: 0;
  }
  .protected-data__items {
    gap: 0 30px;
  }
  .protected-data__item {
    font-size: 1.125em;
    color: var(--lightest);
    line-height: 120%;
  }
  #hs_cos_wrapper_module_162983871515136 > section > div > div.protected-data__col.protected-data__col--B > ul > li:nth-child(7) {
    margin-top: -20px;
  }
}