.customer-testimonial {
  padding: 3.5625em 2em 4.0625em 2em;
}
.customer-testimonial__article {
  margin: 0 auto;
  background: var(--lightest);
  border-radius: 20px;
}
.customer-testimonial__figure {
  height: 190px;
  overflow: hidden;
}
.customer-testimonial__figure img {
  width: 100%;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.customer-testimonial__content {
  padding: 1.3125em 1.75em 1.75em;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.customer-testimonial__text {
  font: 600 0.875em var(--secondary-font);
  color: var(--white);
  line-height: 148%;
}
.customer-testimonial__text p {
  margin: 1em 0;
}
.customer-testimonial__text strong {
  color: #FF0048;
  font-weight: 600;
}
.customer-testimonial__author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  font: 400 0.875em var(--secondary-font);
  line-height: 148%;
}
.customer-testimonial__name {
  font-weight: bold;
}
.customer-testimonial__job {
  width: 100%;
  font-weight: 300;
}
/* Seção Clientes */
.clients__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 1.75em auto 0;
}

.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 6px;
  background-color: var(--lightest);
  border-radius: 100%;
}
.clients__item:last-of-type {
  display: none;
}


@media (min-width: 1024px) {
  .customer-testimonial {
    padding: 0;
  }
  .customer-testimonial__article {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1018px;
    height: 517px;
    margin: 0 auto;
    background: var(--lightest);
    box-shadow: 20px 20px 50px rgba(204, 204, 230, 0.27);
    border-radius: 16px;
  }
  .customer-testimonial__figure {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-radius: 0;
  }
  .customer-testimonial__figure img {
    object-fit: cover;
    object-position: -100px;
    position: absolute;
    top: 0;
    left: 0;
    width: auto !important;
    height: 100% !important;
    border-radius: 0;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }
  .customer-testimonial__content {
    width: 50%;
    height: 100%;
    padding: 4em 4em 3.375em 4em;
    border-radius: 0;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }
  .customer-testimonial__text {
    font-size: 16px;
  }
  .customer-testimonial__author {
    font-size: 16px;
  }
  .customer-testimonial__job {
    font-weight: 300;
  }
  /* Seção Clientes */
  .clients__items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
    margin: 3.8125em auto 0;
  }
  .clients__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    padding: 0.85rem;
    background-color: var(--lightest);
    border-radius: 100%;
  }
  .clients__item:last-of-type {
    display: flex;
  }
}