<section class="section customer-testimonial">
	<div class="customer-testimonial__container">
		<div class="swiper swiper-testimonial">
			<div class="swiper-wrapper">
				{% for item in module.depoimentos %}
				<aside class="customer-testimonial__article swiper-slide">
					{% if item.imagem.src %}
						{% set sizeAttrs = 'width="{{ item.imagem.width }}" height="{{ item.imagem.height }}"' %}
						{% if item.imagem.size_type == 'auto' %}
							{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
						{% elif item.imagem.size_type == 'auto_custom_max' %}
							{% set sizeAttrs = 'width="{{ item.imagem.max_width }}" height="{{ item.imagem.max_height }}" style="max-width: 100%; height: auto;"' %}
						{% endif %}
						{% set loadingAttr = item.imagem.loading != 'disabled' ? 'loading="{{ item.imagem.loading }}"' : '' %}
						<figure class="customer-testimonial__figure">
							<img src="{{ item.imagem.src }}" alt="{{ item.imagem.alt }}" {{ loadingAttr }} width="718" height="524">
						</figure>
					{% endif %}
					<section class="customer-testimonial__content">
						<div class="customer-testimonial__content-specific">
							<blockquote class="customer-testimonial__text">
								{{ item.texto }}
							</blockquote>
							<address class="customer-testimonial__author">
								<h3 class="customer-testimonial__name">{{ item.nome }}</h3>, 
								<p class="customer-testimonial__job">{{ item.cargo }}</p>
							</address>
						</div>
					</section>
				</aside>
				{% endfor %}
			</div>
			<div class="customer-testimonial__controls">
				<div class="icon-arrow">
					<svg class="arrow-prev" width="120" height="120" viewBox="0 0 47 45" fill="none" xmlns="http://www.w3.org/2000/svg">
  
						<path class="arrow" d="M24 27.4575L18 22L24 16.5424" stroke="#D232D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											
						<rect class="circle-background" x="1.26562" y="0.580444" width="43" height="43" rx="21.5" stroke="#ff78af" style="stroke-width: 3px;"/>
							
						<rect class="circle-background--animation circle-animation" x="1.26562" y="0.580444" width="43" height="43" rx="21.5" stroke="#222" style="stroke-dasharray: 140px;stroke-dashoffset: 0px; stroke-width: 4px;"></rect>
						
						<rect class="circle-small" x="1.26562" y="0.580444" width="43" height="43" rx="21.5" stroke="#ff78af"></rect>
							
						<rect class="circle-small--animation circle-animation" x="1.26562" y="0.580444" width="43" height="43" rx="21.5" stroke="purple" style="stroke-dasharray: 140px;stroke-dashoffset: 0px;"></rect>
					</svg>
				</div>
				<div class="icon-arrow">
					<svg class="arrow-next" width="120" height="120" viewBox="0 0 47 45" fill="none" xmlns="http://www.w3.org/2000/svg">
  
						<path class="arrow" d="M20.7656 16.6229L26.7656 22.0805L20.7656 27.538" stroke="purple" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											
						<rect class="circle-background" x="1.26562" y="0.580444" width="43" height="43" rx="21.5" stroke="#ff78af" style="stroke-width: 3px;"/>
							
						<rect class="circle-background--animation circle-animation" x="1.26562" y="0.580444" width="43" height="43" rx="21.5" stroke="#222" style="stroke-dasharray: 140px;stroke-dashoffset: 0px; stroke-width: 4px;"></rect>
						
						<rect class="circle-small" x="1.26562" y="0.580444" width="43" height="43" rx="21.5" stroke="#ff78af"></rect>
							
						<rect class="circle-small--animation circle-animation" x="1.26562" y="0.580444" width="43" height="43" rx="21.5" stroke="purple" style="stroke-dasharray: 140px;stroke-dashoffset: 0px;"></rect>
					</svg>
				</div>

			</div>
		</div>

    {% if module.lista_de_logos_dos_clientes == "comunicacao_e_marketing" %}
      <ul class="clients__items" data-brand-icons="comunicacao_e_marketing" >
				<li class="clients__item">
					<span class="icon-clientes_loreal"></span>
				</li>
				<li class="clients__item">
					<span class="icon-clientes_cpfl-energia"></span>
				</li>
				<li class="clients__item">
					<span class="icon-clientes_btg-pactual"></span>
				</li>
				<li class="clients__item">
					<span class="icon-clientes_bradesco"></span>
				</li>
				<li class="clients__item">
					<span class="icon-logo-clientes-pr-philip-morris-1"></span>
				</li>
			</ul>
    {% elif module.lista_de_logos_dos_clientes == "inteligencia_de_mercado" %}
      <ul class="clients__items" data-brand-icons="inteligencia_de_mercado">
				<li class="clients__item">
					<span class="icon-clientes_adobe"></span>
				</li>
				<li class="clients__item">
					<span class="icon-clientes_bayer"></span>
				</li>
				<li class="clients__item">
					<span class="icon-clientes_salesforce-1"></span>
				</li>
				<li class="clients__item">
					<span class="icon-logo-clientes-SI-jvalerio"></span>
				</li>
				<li class="clients__item">
					<span class="icon-logo-clientes-SI-zendesk"></span>
				</li>
			</ul>
    {% elif module.lista_de_logos_dos_clientes == "inteligencia_de_vendas_b2b" %}
      <ul class="clients__items" data-brand-icons="inteligencia_de_vendas_b2b">
				<li class="clients__item">
					<span class="icon-clientes_salesforce-1"></span>
				</li>
				<li class="clients__item">
					<span class="icon-clientes_adobe"></span>
				</li>
				<li class="clients__item">
					<span class="icon-clientes_bayer"></span>
				</li>
				<li class="clients__item">
					<span class="icon-logo-clientes-SI-jvalerio"></span>
				</li>
				<li class="clients__item">
					<span class="icon-logo-clientes-SI-zendesk"></span>
				</li>
			</ul>
    {% else %}
    {% endif %}

	</div>
</section>
