.main-solutions__container {
  margin: 3.375em 1.5em;
}
.main-solutions__figure img {
  border-radius: 0.5em;
}
.main-solutions__content {
  margin: 1rem 0;
}
.main-solutions__tag {
  font: 400 0.75em var(--primary-font);
  color: var(--dark);
  line-height: 19px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.main-solutions__title {
  font: bold 1.625em var(--primary-font);
  color: var(--darker);
  line-height: 117%;
  letter-spacing: -0.03em;
  margin: 0.25em 0 0.67em 0;
}
.main-solutions__text {
  font: 400 0.875em var(--secondary-font);
  color: var(--dark);
  line-height: 148%;
  letter-spacing: -0.01em;
}
.button--main-solutions {
  font: 600 1rem var(--secondary-font);
  border-radius: 40px;
  margin: 1.8125em auto 0 auto;
}
.button--main-solutions span {
  font-size: 0.6rem;
  margin-left: 0.5em;
}

.header-desktop .main-solutions__tag,
.header-desktop .main-solutions__title {
  display: none;
}

@media (min-width: 768px) {
  .main-solutions__container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  .main-solutions__figure {
    width: 50%;
  }
  .main-solutions__content {
    width: 50%;
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .header-mobile {
    display: none;
  }
  .header-desktop .main-solutions__tag,
  .header-desktop .main-solutions__title {
    display: block;
  }
  .main-solutions__figure img {
    border-radius: 1em;
  }
  .main-solutions__tag {
    font-size: 1em;
  }
  .main-solutions__title {
    font-size: 2.75em;
  }
  .main-solutions__text {
    font-size: 1em;
  }
  .button--main-solutions {
    margin: 1.8125em 0 0;
  }
}
@media (min-width: 1200px) {
  .main-solutions__container {
    max-width: 1122px;
    margin: 3.375em auto;
    gap: 3rem;
  }
}
