.plataform-feature {
  padding: 4em 2em;
  background-color: var(--darkest);
  margin-top: -1px;
}
.plataform-feature__item {
  margin-bottom: 6.25em;
}
.plataform-feature__item:last-of-type {
  margin-bottom: 0;
}
.plataform-feature__title {
  font: bold 1.3125em var(--primary-font);
  line-height: 108%;
  /* or 23px */
  text-transform: uppercase;
  letter-spacing: -0.03rem;
  color: var(--lightest);
}
.plataform-feature__subtitle {
  font: 300 0.875em var(--secondary-font);
  font-style: italic;
  line-height: 148%; 
  color: var(--light);
  margin: 8px 0 1.5rem 0;
}
.plataform-feature__text {
  font: 400 0.875em var(--secondary-font);
  line-height: 148%;
  color: var(--lightest);
  margin-bottom: 2.5rem;
}

@media (min-width: 768px) {
  .plataform-feature__item {
    display: flex;
    justify-content: center;
    gap: 1.5em;
  }
  .plataform-feature__item:nth-of-type(2n) {
    flex-direction: row-reverse;
  }
  .plataform-feature__item:last-of-type {
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
  .plataform-feature__description {
    width: 50%;
  }
  .plataform-feature__figure {
    width: 50%;
  }
}
@media(min-width: 1024px) {
  .plataform-feature .section__container {
    max-width: 1114px;
    margin: 0 auto;
  }
  .plataform-feature__item {
    margin-bottom: 9.875em;
  }  
  .plataform-feature__title {
    font-size: 2.873em;
    line-height: 100%;
    letter-spacing: -0.04em;
  }
  .plataform-feature__subtitle {
    font-size: 1.125em;
    margin: 12px 0 32px;
  }
  .plataform-feature__text {
    font-size: 1.125em;

  }
}

@media(min-width: 1200px) {
  .plataform-feature {
    padding: 5em 0 5em 0 ;
  }
  .plataform-feature__item {
    gap: 136px;
  }
  .plataform-feature__description {
    width: 441px;
  }
  .plataform-feature__item.plataform-feature__text {
    width: 320px;
  }
  .plataform-feature__figure {
    width: 537px;
  }
}