<header id="header-primary" class="header">
  <div class="header__container">
    <div class="header__responsive">
      <figure class="header__figure header__logo">
        <a href="{{ module.url_da_logo.href }}" aria-label="Logo Cortex Intelligence">
          <img src="{{ get_asset_url('/cortex-v1/images/logo-cortex.png') }}" width="130" height="22" alt="Logo Cortex"/>
        </a>
      </figure>
      <button class="menu-mobile" aria-label="Menu de navegação mobile">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </button>
    </div>
    <div class="header__content">
      <div class="header__nav">
        {% menu id="{{ module.menu_header }}" %}
      </div>
      <div class="header__support">
        {% set href = module.cta_header.link_field.url.href %}
        <a href="{{ href }}" class="button button--primary"
          {% if module.cta_header.link_field.open_in_new_tab %}target="_blank"{% endif %}
          {% if module.cta_header.link_field.rel %}rel="{{ module.cta_header.link_field.rel }}"{% endif %}
          >
          {{ module.cta_header.text }}
        </a>
        {# Language toggle #}
          <div class="header__language-switcher">
            <button class="header__language-switcher-label-current" data-lang="lang-current">
              <span class="language-icon icon-language-switcher"></span>

              <span class="icon-arrow-next"></span>
            </button>
            <div class="header__language-switcher-options">
              {% if content.translated_content %}
                {% for item in content.translated_content %}
                  
                  <a href="/{{item.slug }}?hsLang=en" class="header__language-switcher-label-option" data-lang="lang-en">
                    <span class="language-icon icon-bandeira-estados-unidos"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span>
                    English 
                  </a>
                {% endfor %}
              {% endif %}
              {% if content.translated_content %}
                {% for item in content.translated_content %}
                  
                <a href="/{{item.slug }}?hsLang=pt-br" class="header__language-switcher-label-option" data-lang="lang-pt">
                    <span class="language-icon icon-bandeira-brasil"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
                    Português
                  </a>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        {# End language toggle #}
      </div>
    </div>
  </div>
</header>