<!--
    templateType: blog_listing
    isAvailableForNewContent: true
    label: Cases de Sucesso Listagem
-->
{% extends "../layouts/base.html" %}

{% choice "size_company_filter" label='Filtro Tamanho da empresa', value='type', 
choices='[
  [ "small_company", "Pequena" ], 
  [ "media_company", "Média" ], 
  [ "big_company", "Grande" ]
]', 
export_to_template_context=True 
%}

{% choice "product_type_filter" label='Filtro Produto', value='type', 
choices='[
  ["inteligencia_de_vendas_b2b", "Inteligência de Vendas B2B"],
  ["comunicacao_estrategica_e_reputacao", "Comunicação estratégica e reputação"]
]', 
export_to_template_context=True 
%}

  <!-- A lista a seguir possui todos os itens mapeados que por enquanto não serão
  utilizados, quando solicitado excluir o item da lista comentada abaixo e 
  adicionar ao array de desafio.

  obs: verificar se o item adicionado existe no javascript e 
  no module de categorias dos cases-de-sucesso -->

<!-- ["contatos_precisos_e_atualizados_de_decisores", "Contatos precisos e atualizados de decisores"],
["identificacao_de_cliente_ideal", "Identificação de Cliente ideal"],
["performance_e_previsao_de_vendas", "Performance e Previsão de vendas"],
["identificacao_de_sellers_para_marketplace", "Identificação de Sellers para Marketplace"],
["mapeamento_de_tecnologia_para_e-commerce", "Mapeamento de tecnologia para e-commerce"],
["mapeamento_de_tecnologia_de_pagamento_online", "Mapeamento de tecnologia de pagamento online"],
["mapeamento_de_tecnologia_para_licenciamento", "Mapeamento de tecnologia para licenciamento"],
["mapeamento_de_tecnologia_cloud", "Mapeamento de tecnologia Cloud"],
["gestao_de_canais_indiretos_ampliacao_de_canais", "Gestão de Canais Indiretos - Ampliação de Canais"],
["gestao_de_canais_indiretos_ativacao_de_pdvs", "Gestão de Canais Indiretos - Ativação de PDVs"],
["prospecao_de_venda_de_beneficios", "Prospecção de Venda de Benefícios"],
["prospecao_para_venda_de_servicos_de_recrutamento", "Prospecção para venda de Serviços de Recrutamento"],
["prospecao_de_servicos_logisticos", "Prospecção de Serviços Logísticos"],
["mapeamento_de_servico_de_frotas", "Mapeamento de serviço de frotas"],
["mapeamento_de_ecossistema_de_inovacao", "Mapeamento de Ecossistema de Inovação"],
["mapeamento_de_propriedades_rurais", "Mapeamento de propriedades rurais"] -->


{% choice "challenge_type_filter" label='Filtro Desafio', value='type', 
choices='[
  ["dimensionamento_de_nichos_de_mercado", "Dimensionamento de nichos de mercado"],
  ["enriquecimento_de_crm", "Enriquecimento de CRM"],
  ["recomendacao_e_priorizacao_de_negocios", "Recomendação e priorização de negócios"]
]',
export_to_template_context=True 
%}

  <!-- A lista a seguir possui todos os itens mapeados que por enquanto não serão
  utilizados, quando solicitado excluir o item da lista comentada abaixo e 
  adicionar ao array de Setor.

  obs: verificar se o item adicionado existe no javascript e 
  no module de categorias dos cases-de-sucesso -->
  <!-- ["agronegocio", "Agronegócio"],
  ["automotivo", "Automotivo"],
  ["bens_de_consumo", "Bens de Consumo"],
  ["educacao", "Educação"],
  ["eletrodomesticos_e_eletronicos", "Eletrodomésticos e Eletrônicos"],
  ["engenharia_e_construcao", "Engenharia e Construção"],
  ["transporte_e_logistica", "Transporte e Logística"],
  ["turismo_e_hotelaria", "Turismo e Hotelaria"],
  ["utilities", "Utilities"],
  ["governo_e_terceiro_setor", "Governo e Terceiro Setor"],
  ["imobiliario", "Imobiliário"],
  ["maquinas_e_equipamentos", "Máquinas e Equipamentos"],
  ["midia", "Mídia"],
  ["oleo_e_gas", "Óleo e Gás"],
  ["papel_e_celulose", "Papel e celulose"],
  ["quimica", "Química"], -->

{% choice "sector_type_filter" label='Filtro Setor', value='type', 
choices='[
  ["farmaceutica", "Farmacêutica"],
  ["financeiro", "Financeiro"],
  ["saude", "Saúde"],
  ["servicos", "Serviços"],
  ["tecnologia", "Tecnologia"],
  ["varejo", "Varejo"]
]', 
export_to_template_context=True 
%}

{{ require_css(get_asset_url('/cortex-intelligence/css/materials/index.css')) }}
{{ require_css(get_asset_url('/cortex-intelligence/css/cases/index.css')) }}

{{ require_js(get_asset_url('/cortex-intelligence/js/cases.js'), { position: 'footer', async: true }) }}

{% block body %}

<main id="main-content" class="body-container-wrapper main--cases" role="main">
  {% module "module_165160147172943" path="/cortex-intelligence/templates/cases-de-sucesso/modules/main-cases", label="main-cases" %}
  <div class="grid-flex">
    <div class="filters mobile-filter--float">
      <label for="input-search" class="search-label">
        <input type="text" name="input-search" id="input-search" placeholder="Buscar">
        <svg width="52" height="48" viewBox="0 0 52 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0H28C41.2548 0 52 10.7452 52 24V24C52 37.2548 41.2548 48 28 48H0V0Z" fill="#37324B"/>
          <path d="M28.6042 21.5791C28.6096 25.3453 25.578 28.3892 21.8444 28.3892C18.1108 28.3892 15.0705 25.3453 15.0652 21.5791C15.0598 17.813 18.0914 14.7691 21.825 14.7691C25.5587 14.7691 28.5989 17.813 28.6042 21.5791Z" stroke="white" stroke-width="2.07969"/>
          <line x1="27.1849" y1="26.5998" x2="33.7437" y2="33.1586" stroke="white" stroke-width="2.07969" stroke-linecap="round"/>
          </svg>
      </label>
      <div class="mobile-filter__closed">
        <button id="closed-filter" class="button-closed">X</button>
      </div>
      <form id="form-filters">
        <h2>Filtro</h2>
        <div class="filter__items">
          <h3>Tamanho da empresa</h3>

          {% for choice in widget_data.size_company_filter.choices_list %}

          <div class="filter__item">
            <input type="checkbox" name="size-company" id="{{ choice[0]|lower }}" 
              value="{{ choice[0]|lower }}" {{ html_attributes|xmlattr }}>
            <label for="{{ choice[0]|lower }}">
              {{ choice[1] }}
            </label>
          </div>
        {% endfor %}
        </div>
        <div class="filter__items">
          <h3>Produto</h3>
 
          {% for choice in widget_data.product_type_filter.choices_list %}

          <div class="filter__item">
            <input type="checkbox" name="product" id="{{ choice[0]|lower }}" 
              value="{{ choice[0]|lower }}" {{ html_attributes|xmlattr }}>
            <label for="{{ choice[0]|lower }}">
              {{ choice[1] }}
            </label>
          </div>
        {% endfor %}
        </div>
        <div class="filter__items">
          <h3>Desafio</h3>
 
          {% for choice in widget_data.challenge_type_filter.choices_list %}

          <div class="filter__item">
            <input type="checkbox" name="challenge" id="{{ choice[0]|lower }}" 
              value="{{ choice[0]|lower }}" {{ html_attributes|xmlattr }}>
            <label for="{{ choice[0]|lower }}">
              {{ choice[1] }}
            </label>
          </div>
        {% endfor %}
        </div>
        <div class="filter__items">
          <h3>Setor</h3>
 
          {% for choice in widget_data.sector_type_filter.choices_list %}

          <div class="filter__item">
            <input type="checkbox" name="sector" id="{{ choice[0]|lower }}" 
              value="{{ choice[0]|lower }}" {{ html_attributes|xmlattr }}>
            <label for="{{ choice[0]|lower }}">
              {{ choice[1] }}
            </label>
          </div>
        {% endfor %}
        </div>
        <div class="button-container">
          <button id="action-filter" class="button button--primary-invert">Filtrar</button>
          <span id="clear-filter" class="clear-filter">Limpar filtro</span>
        </div>
      </form>
    </div>
    <section class="cases-listing__section">
      <h2 class="section__title"> Cases de sucesso</h2>
      <div id="library-grid" class="library-grid-items"></div>

      <div id="loadmore-container">
        <button id="button__loadmore" style="display: block;">
          <span class="icon"><svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="12.584" y1="0.994911" x2="6.58402" y2="6.99491" stroke="#37324B"/>
            <line x1="1.12575" y1="0.750936" x2="6.77224" y2="6.46773" stroke="#37324B"/>
            </svg>
            </span>
          <span >Mostrar mais</span>
        </button>
      </div>
    </section>
  </div>
  {% module "module_163171836850828" path='/cortex-intelligence/sections/generic/call-to-action', label="Call to Action" %}
  {% module "module_165159687335232" path="/cortex-intelligence/templates/cases-de-sucesso/modules/clients", label="Clientes" %}
  {% module "module_16516762746911" path="/cortex-intelligence/templates/cases-de-sucesso/modules/double-testimonial", label="Depoimento dos clientes" %}

  <div class="mobile-filter">
    <button id="open-filter" class="mobile-filter__button">
      <img src="{{ get_asset_url('/cortex-intelligence/images/icon-lupa.png') }}" width="34" height="34"/>
    </button>
  </div>
</main>
{% endblock body %}


{% require_js async="true" position="header" %}
  <script type="application/json" id="data-cases">
    {
      "data": [
      {% for content in contents %}
        {
          "title": "{{content.name}}",
          "description": "{{ content.meta_description}}",
          "featuredImage": "{{ resize_image_url( content.featured_image, 345, 190, 345 ) }}",
          "featuredImageAlt": "{{ content.featured_image_alt_text }}",
          "url": "{{content.absolute_url}}",
          "sizeCompany": "{{content.widgets.module_16527342519113.body.tamanho_da_empresa}}",
          "product": "{{content.widgets.module_16527342519113.body.produto}}",
          "challenge": "{{content.widgets.module_16527342519113.body.desafio}}",
          "sector": "{{content.widgets.module_16527342519113.body.setor}}"
        }{% if loop.index != contents.total_count %},{% endif %}
      {% endfor %}
      ]
    }
  </script>
 
{% end_require_js%} 