.section__main-case--primary {
  padding: 3em 2em;
  background: var(--lightest);
}
.main-case__subtitle--1 {
  font: 325 0.875em var(--primary-font);
  color: var(--dark);
}
.main-case__subtitle--2 {
  font: 400 1em var(--primary-font);
  color: var(--darkest);
}
.main-case__title {
  font: 700 2em var(--primary-font);
  color: var(--darkest);
  line-height: 120%;
  letter-spacing: -0.055em;
  margin: 1rem 0;
}
.button--lp-cta {
 font: 600 1em var(--secondary-font);
 line-height: 120%;
 color: var(--white);
 background-color: var(--Auxiliary-yellow);
 margin-top: 1.5rem;
}
.main-case__figure {
  margin-top: 2.5rem;
}

@media (min-width: 1024px) {
  .section__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    max-width: 960px;
    margin: 0 auto;
  }
  .section__content {
    width: 50%;
  }
  .main-case__figure {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .section__container {
    max-width: 1114px;
  }
  .section__content {
    width: 537px;
  }
  .main-case__figure {
    width: 481px;
    margin: 0;
  }
  .main-case__subtitle--1 {
    font-size: 1em;
  }
  .main-case__subtitle--2 {
    font-size: 1.25em;
  }
  .main-case__title {
    font-size: 2.25em;
    margin: 1.25rem 0;
  }
  .button--lp-cta {
    margin-top: 3.5rem;
   }
}