.form-content-sticky {
  padding: 2rem 2rem 4rem 2rem;
  background-color: var(--lightest);
}
.form-content-sticky .section__content .section__title {
  font: 350 2em var(--primary-font);
  color: var(--darkest);
  line-height: 120%;
}
.form-content-sticky .section__content .section__text {
  font: 400 1em var(--secondary-font);
  color: var(--darkest);
  line-height: 148%;
}
.form-content-sticky .section__content .section__text p {
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .section__form-content-sticky{
    padding-top: 3rem;
  }
}
@media (min-width: 1024px) {
  .form-content-sticky {
    padding: 4rem 0;
    position: relative;
  }
  .form-content-sticky .section__container--flex {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
  }
  .form-content-sticky .section__content {
    width: 48%;
    height: max-content;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 30px;
  }
  .form-content-sticky .section__form-content-sticky {
    width: 45%;
    padding-top: 0;
  }
}
@media (min-width: 1200px) {
  .form-content-sticky .section__container--flex {
    display: flex;
    justify-content: space-between;
    max-width: 1152px;
    margin: 0 auto;
  }
  .form-content-sticky .section__content {
    width: 572px;
  }
  .form-content-sticky .section__content .section__text {
    font-size: 1.125em;
    margin-top: 3rem;
  }
  .form-content-sticky .section__form-content-sticky {
    width: 477px;
  }
}