<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
    
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "image": [
          "https://f.hubspotusercontent30.net/hub/8917234/hubfs/assinatura-completa_principal_G.png?width=150&name=assinatura-completa_principal_G.png",
          "https://f.hubspotusercontent30.net/hub/8917234/hubfs/assinatura-completa_principal_G.png?width=150&name=assinatura-completa_principal_G.png",
          "https://f.hubspotusercontent30.net/hub/8917234/hubfs/assinatura-completa_principal_G.png?width=150&name=assinatura-completa_principal_G.png"
         ],
        "name": "Cortex Intelligence",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Rua do Carmo, 8 - 4º Andar - Centro",
          "addressLocality": " Rio de Janeiro",
          "addressRegion": "RJ",
          "postalCode": "20011-020",
          "addressCountry": "BRA"
        },
        "review": {
          "@type": "Review",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "4",
            "bestRating": "5"
          },
          "author": {
            "@type": "Person",
            "name": "Lillian Ruiz"
          }
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": -22.904648313804486,
          "longitude": -43.175247971329966
        },
        "url": "http://www.cortex-intelligence.com/",
        "telephone": "+552132823150",
        "openingHoursSpecification": [
          {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": [
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday"
            ],
            "opens": "09:00",
            "closes": "18:00"
          }
        ]
      }
      </script>