<section class="section section--main-success-case">
  <div class="section__container">
    <div class="main__container">
      <div class="main__tag">{{ module.tag }}</div>
      <h1 class="main__title">{{ module.title }}</h1>

      {% if module.cta.cta.url.href %}
        <div class="button-container">
          {% set href = module.cta.cta.url.href %}
          <a href="{{ href }}" class="button button--lp-cta"
            {% if module.cta.cta.open_in_new_tab %}target="_blank"{% endif %}
            {% if module.cta.cta.rel %}rel="{{ module.cta.cta.rel }}"{% endif %}
            >
            {{ module.cta.texto_cta }}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</section>

{% require_css %}
<style>
  .section--main-success-case {
    background-color: {{ module.style.background.color }};
  }
</style>
{% end_require_css%}