.cta-solutions {
  margin: 0 2em;
}
.section-cta__box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  border: 6px solid var(--lightest);
  border-radius: 20px;
  padding: 2.875em;
}
.section-cta__text {
  font: bold 1.125em var(--primary-font);
  text-align: center;
  color: var(--darkest);
  line-height: 120%;
  letter-spacing: -0.02em;
  margin-bottom: 1.5rem;
}

.button-cta--solutions {
  color: var(--white);
}

.button-cta--solutions .icon-input-seta {
  font-size: 10px;
  margin-left: 0.5em;
}
@media (min-width: 1200px) {
  .cta-solutions {
    margin: 7.5em 0;
  }
  .section-cta__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1114px;
    margin: 0 auto;
    border: 6px solid var(--lightest);
    box-sizing: border-box;
    border-radius: 32px;
    padding: 2.5em 3.75em;
  }
  .cta-icon {
    position: absolute;
    left: 0;
    display: block;
    height: 50px;
    width: 5px;
    
  }
  .cta-icon:after {
    position: absolute;
    top: 0;
    left: 5px;
    width: 10px;
    height: 50px;
    content: '';
  }
  .section-cta__text {
    font: bold 2em var(--primary-font);
    color: var(--darkest);
    line-height: 38px;
    letter-spacing: -0.02em;
    margin-bottom: 0;
  }
  .button-cta--solutions {
    color: var(--white);
  }
}