<!--
  templateType: error_page
  isAvailableForNewContent: true
  label: Boilerplate - 404 error
  screenshotPath: ../../images/template-previews/404.png
-->
{% set template_css = '../../css/templates/system.css' %}
{% extends '../layouts/base.html' %}

{% block body %}
<main class="body-container-wrapper">
  <section class="section">
    <div class="error-page" data-error="404">
      <h1 >Desculpe, <br> essa página não foi encontrada</h1>
        <p class="subtitle">Não se preocupe, nós já vamos analisar o que aconteceu</p>
        <div class="info">
          <h3>Enquanto isso você pode...</h3>
          <ul>
            <li>→ Voltar para a nossa <a href="https://cortex-intelligence-8917234.hs-sites.com/home">home</a></li>
            <!-- <li>→ Conhecer mais sobre nossas <a href="">soluções</a></li> -->
            <li>→ Se inscrever para receber uma <a href="https://pages.cortex-intelligence.com/en/schedule-cortex-specialists?__hstc=233546881.3732211f783a2ade2a956aa208f2e136.1625842847012.1626369214262.1626444664713.9&__hssc=233546881.42.1626444664713&__hsfp=848057963&_ga=2.108831810.1984638414.1626109656-504479821.1625842847">demo de graça</a></li>
          </ul>
        </div>
        <p>Se você quer nos ajudar a encontrar o problema por favor <a href="">entre em contato</a> e nos conte o que deu errado.</p>
    </div>
  </section>
</main>

{% endblock body %}