.button {
  display: block;
  width: max-content;
  font: 400 1em var(--secondary-font);
  padding: 12px 24px;
  text-decoration: none;
  line-height: 1;
  border-radius: 40px;
  transition: all .3s ease-in-out;
} 

.button--primary {
  color: var(--darkest);
  background-color: transparent;
  border: 1px solid var(--darkest);
}
.button--primary:hover {
  color: var(--white);
  background-color: var(--darkest);
  border: 1px solid var(--darkest);
}
.button--primary-invert {
  color: var(--white);
  background-color: var(--darkest);
  border: 1px solid var(--darkest);
}
.button--primary-invert:hover {
  color: var(--darkest);
  background-color: transparent;
  border: 1px solid var(--darkest);
}
.button--secondary {
  font-weight: 600;
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--white);
}
.button--secondary:hover {
  color: var(--darkest);
  background-color: var(--white);
  border: 1px solid var(--white);
}
.icon-arrow-round-prev,
.icon-arrow-round-next {
  cursor: pointer; 
}

.button--link {
  text-decoration: underline;
  color: var(--blue_spotlight);
}
.button--link:hover {
  text-decoration: underline;
  color: var(--blue_spotlight);
}